[Unit]
Description=ftunnel 

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/bin/ftunnel.py --source=:443 --destination=127.0.0.1:22 --http=source
User=root
Group=root

[Install]
WantedBy=multi-user.target